SQL_SERVER_PASSWORD=ChangeMe_ThisPassword123!
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=ChangeMe_ThisPassword123!
Authentication__Authority=http://localhost:8080/realms/inventory
Authentication__Audience=inventory-api
